html {
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;

}

body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    margin: 10px 0 25px 0;
}

#login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px;
}

#error-display {
    color: rgb(229, 143, 128);
}

/* classes */

.user-main-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px;
}

.user-main-menu-item{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 5px 0px;

}

.table-users-list {
    border: 2px solid whitesmoke;
    border-collapse: separate;
    border-radius: 8px;
    margin: 20px;
}

.table-users-list th:first-child {
    border-left: none;
    border-radius: 6px 0 0 0;
}

.table-users-list th:last-child {
    border-right: none;
    border-radius: 0 6px 0 0;
}

.table-users-list tr:last-child td:first-child {
    border-left: none;
    border-radius: 0 0 0 6px;
}

.table-users-list tr:last-child td:last-child {
    border-right: none;
    border-radius: 0 0 6px 0;
}

.table-users-list th, .table-users-list td {
    padding: 2px 4px;
}

.table-users-list th {
    background-color: coral;
}

.table-users-list tbody tr:nth-child(even) {
    background-color:cornflowerblue;
}